{% load i18n %}
{% load static %}
<head>  
</head>
<body>
  <nav class="navbar navbar-light mbr-navbar navbar-fixed-top" id="menu-f" data-rv-view="0" style="background-color: rgb(250, 250, 250);">
    <div class="container">
        <button class="navbar-toggler pull-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
            <div class="hamburger-icon"></div>
        </button>

        <div class="clearfix"></div>
        <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
            <span class="navbar-logo"><a href="/" class="mbri-edit mbr-iconfont mbr-iconfont-menu"></a></span>
            <span><a class="navbar-brand text-primary" href="/">asdfq</a></span>

            <ul class="nav navbar-nav pull-xs-right">{% if user.is_authenticated %}
            	<li class="nav-item"><a class="btn btn-primary-outline btn-primary" href="{% url 'account_logout' %}">Logout</a></li></ul>
            	{% else %}
            	<li class="nav-item"><a class="btn btn-primary-outline btn-primary" href="{% url 'account_login' %}">Login</a></li></ul>
            	{%endif%}
            <ul class="nav navbar-nav pull-xs-right">
            	<li class="nav-item"><a class="nav-link" href="/">Tags</a></li> 
            	<li class="nav-item"><a class="nav-link" href="/">New</a></li> 
            	<li class="nav-item"><a class="nav-link" href="/">Popular</a></li> 
            	<li class="nav-item"><a class="nav-link" href="/">Archives</a></li> 
            	<li class="nav-item"><a class="nav-link" href="/">Categories</a></li> 
            	<li class="nav-item"><a class="nav-link" href="/">Authors</a></li> 
            	<li class="nav-item"><a class="nav-link" href="/">Sitemap</a></li>  
            	<li class="nav-item"><a class="nav-link" href="/"></a></li></ul>
        </div>
    </div>
</nav>