{% load i18n %}
{% load zinnia %}
{% block navbar %}

<nav class="navbar navbar-default navbar-fixed-top">

<div class="container-fluid" ">
<!-- Brand and toggle get grouped for better mobile display -->

<div id="ss" class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<!-- <a class="navbar-brand" href="/"><img src=""></a> -->
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li id="co">
<a class="hastip"  href="{% url 'zinnia:entry_archive_index' %}"  title="home" rel="home">
Home
</a>
</li>
<li id="co">
        <a href="javascript:;" class="hastip dropdown-toggle" data-toggle="dropdown" title="Categories" aria-expanded="false">
          Categories
          <span class=" fa fa-angle-down"></span>
        </a>
        <ul class="dropdown-menu dropdown-usermenu pull-left">
            <span>{% get_categories %}</span>


        </ul>
      </li>
<!-- <li id="co"><a class="hastip"  href="{% url 'zinnia:category_list' %}"  title="Categories" rel="home">{% trans "Categories" %}</a></li> -->

<li id="co"><a class="hastip"  href="{% url 'zinnia:tag_list' %}"  title="Tags" rel="home">{% trans "Tags" %}</a>
</li>
</ul>

<form class="navbar-form navbar-left" role="search" method="get" action="{% url 'zinnia:entry_search' %}">
<div class="form-group">
<input type="text" name="pattern" placeholder="{% trans 'search...' %}" {% if pattern %}value="{{ pattern }}"{% endif %} style="font-family: verdana; inputeight:bold;
font-size: 10pt; height: 28px; width:186px; color: #000000; padding-left: 2px; float:left; border: 1px solid black; background-color:
#ffffff" />
<input type="submit" name="head" class="search" value="&#xf002;">
</div>
</form>


<ul class="nav navbar-nav navbar-right" id="co">

{% if user.is_authenticated %}
<li><a class="hastip" href="{% url 'userface:about' %}" title="create article" target="_blank" >
Create Article
</a></li>
<li>
{% endif %}
<li><a class="hastip" href="#" title="{% trans "Google" %}" target="_blank" >
<i class="fa fa-google ha-spin" aria-hidden="true"></i>
</a></li>
<li>
<!-- https://www.facebook.com/reversestring/ -->
<a class="hastip" href="https://www.facebook.com/swell17" title="{% trans "facebook" %}" target="_blank" >
<i class="fa fa-facebook ha-spin" aria-hidden="true"></i>
</a></li>
<!-- twitter -->
<li><a class="hastip" href="https://twitter.com" title="{% trans "twitter" %}" target="_blank" >
<i class="fa fa-twitter ha-spin" aria-hidden="true"></i>
</a></li>

<!-- RSS feed -->
<li><a class="hastip" href="{% url 'zinnia:entry_feed' %}" title="{% trans "RSS feed of last entries" %}" target="_blank" >
<i class="fa fa-rss ha-spin" aria-hidden="true"></i>
</a></li>

<!-- Site Map -->
<li>
<a class="hastip" href="{% url 'zinnia:sitemap' %}" title="{% trans "Sitemap" %}" class="" rel="sitemap">
<i class="fa fa-map ha-spin" aria-hidden="true"></i>
</a>
</li>
<!-- login  -->
<li>
{% if user.is_authenticated %}
<a class="hastip" href="{% url 'account_logout' %}" title="{% trans "logout" %}" class="" rel="sitemap">
<i class="fa fa fa-user-circle ha-spin" aria-hidden="true"></i>
</a>
{% else %}
<a class="hastip" href="{% url 'account_login' %}" title="{% trans "login" %}" class="" rel="sitemap">
<i class="fa fa fa-user-circle" aria-hidden="true"></i>
</a>
{%endif%}
</li>

</ul>
</div>
</div><!-- /.navbar-collapse -->
<!-- /.container-fluid -->
</nav>
{% endblock navbar %}