{% load i18n %}
{% load zinnia %}
{% block sidebar %}

<aside id="widget-welcome" class="widget">
  <h5>
    <a href="https://www.paypal.me/harold11"><i class="fa fa-paypal fa-2x" aria-hidden="true"></i></a>
  </h5>
</aside>
<aside id="widget-categories" class="widget">
  <h5>
    <a href="{% url 'zinnia:category_list' %}">{% trans "Categories" %}</a>
  </h5>
  {% get_categories %}
</aside>
<aside id="widget-authors" class="widget">
  <h5>
    <a href="{% url 'zinnia:author_list' %}">{% trans "Authors" %}</a>
  </h5>
  {% get_authors %}
</aside>

<aside id="widget-tags" class="widget">
  <h5>
    <a href="{% url 'zinnia:tag_list' %}">{% trans "Tags" %}</a>
  </h5>
  {% get_tag_cloud %}
</aside>
<aside id="widget-recents" class="widget">
  <h5>{% trans "Recent entries" %}</h5>
  {% get_recent_entries %}
</aside>
<aside id="widget-comments" class="widget">
  <h5>{% trans "Recent comments" %}</h5>
  {% get_recent_comments %}
</aside>
<aside id="widget-linkbacks" class="widget">
  <h5>{% trans "Recent linkbacks" %}</h5>
  {% get_recent_linkbacks %}
</aside>
<aside id="widget-randoms" class="widget">
  <h5>{% trans "Random entries" %}</h5>
  {% get_random_entries %}
</aside>
<aside id="widget-populars" class="widget">
  <h5>{% trans "Popular entries" %}</h5>
  {% get_popular_entries %}
</aside>
<aside id="widget-archives" class="widget">
  <h5>{% trans "Archives" %}</h5>
  {% get_archives_entries %}
</aside>
<aside id="widget-calendar" class="calendar">
  <h5>{% trans "Calendar" %}</h5>
  {% get_calendar_entries %}
</aside>

{% if user.is_authenticated %}
<aside id="widget-tools" class="widget">
  <h5>{% trans "Tools" %}</h5>
  <ul class="list-unstyled">
    {% if perms.zinnia %}
    <li>
      <a href="{% url 'admin:app_list' 'zinnia' %}" title="{% trans "Dashboard" %}">
        {% trans "Dashboard" %}
      </a>
    </li>
    {% endif %}
    {% if perms.zinnia.add_entry %}
    <li>
      <a href="{% url 'admin:zinnia_entry_add' %}" title="{% trans "Post an entry" %}">
        {% trans "Post an entry" %}
      </a>
    </li>
    {% endif %}
    {% block admin-tools %}
    {% endblock admin-tools %}
    <li>
      <a href="{% url 'admin:logout' %}" title="{% trans "Log out" %}">
        {% trans "Log out" %}
      </a>
    </li>
  </ul>
</aside>
{% endif %}
{% endblock sidebar %}