{% load i18n %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="Info from everyone">
<meta name="keywords" content="python, django, Angular, facebook, google, Harold Gomez, Linux,Kernel ">
<meta name="author" content="Harold Gomez">
<link rel="shortcut icon" href="{% static 'change/favicon.ico' %}" />
<title>Lookout</title>
<!-- <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Montserrat" rel="stylesheet"> -->
<link rel="stylesheet" type="text/css" href="{% static 'change/theme/css2/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'change/theme/css2/bootstrap-theme.min.css' %}">
<link rel="stylesheet" href="{% static 'change/font-awesome-4.7.0/css/font-awesome.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'change/theme/css2/custom.css' %}">
<script src="{% static 'change/theme/js/jquery.min.js' %}"></script>
<script src="{% static 'change/theme/js/bootstrap.min.js' %}"></script>
<style>



</style>
{% block link %}{% endblock link %}
{% block script %}{% endblock script %}
</head>
<a href="javascript:void(0);" id="scroll" title="Scroll to Top" style="display: none;">Top<span></span></a>
<body>
{% block navbar %}
{% include "zinnia/navbar.html" %}
{% endblock navbar %}
<div class="container">
<div class="row">
<div class="visible-lg col-sm-3" style="margin-left: 10px">{% block sidebar %}{% endblock sidebar %}</div>
<div class="col-sm-8 ">

{% block content %}
<div class="links">
<h2>{% trans "Useful links" %}</h2>
<ul>
<li>
  <a href="{% url 'zinnia:entry_archive_index' %}" title="{% trans "Weblog index" %}">
    {% trans "Weblog index" %}
  </a>
</li>
<li>
  <a href="{% url 'zinnia:sitemap' %}" title="{% trans "Sitemap" %}">
    {% trans "Sitemap" %}
  </a>
</li>
</ul>
</div>
<div>
<h2>{% trans "Search" %}</h2>
{% include "zinnia/tags/search_form.html" %}
</div>
{% endblock content %}
</div>
</div>
</body>
<footer id="footer" role="contentinfo">
{% block breadcrumbs %}{% endblock breadcrumbs %}
<p>{% blocktrans %}Powered by <a href="http://www.djangoproject.com">Django</a> and <a href="https://github.com/Fantomas42/django-blog-zinnia">Zinnia {{ ZINNIA_VERSION }}</a>.{% endblocktrans %}</p>
{% block footbank %}
{% endblock footbank %}
</footer>
<script src="{% static 'change/theme/js/tooltipsy.min.js' %}"></script>
<script src="{% static 'change/theme/js/custom.js' %}"></script>
</html>
