{% extends 'blogui/base.html' %}
{% block body %}
<section class="mbr-section form1 cid-qIFGUqXt71 mbr-fullscreen mbr-parallax-background" id="form1-m">

    

    
<!--     <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">Create Article</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5"></h3>
            </div>
        </div>
    </div> -->
<div class="container">
    <div class="jumbotron">
    <center><h3 style="font-size: 40px;" class="creater">Create Article</h3></center>
    <hr>
        <div>
            <form class="control_flexible" action="{% url 'poster' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="form_control">
                    {% if field.name != "status" and field.name != "publication_date" and field.name != "image"  %}
                    <label class="control_label" for="{{ field.name }}">{{ field.label }}</label>
                    <div class="input_control">
                        {{ field }}
                    </div>
                    {% endif %}
                </div>

                {% endfor %}

                <div class="formcustom_control">
            {% for field in form %}
            <div class="form_control">
                {% if field.name == "status" or field.name == "publication_date" or field.name == "image"  %}
                    <label class="control_label" for="{{ field.name }}">{{ field.label }}</label>
                    <div class="input_control">
                    {{ field }}
                    </div>
                {% endif %}
                </div>
            {% endfor %}
                </div>
                <div class="form_control">
                    <div class="input_control_button">
                        <input class="btn btn-primary" type="submit" value="submit">
                    </div>
                </div>
            </form>
        </div>
        
    </div>
</div>
</section>
{% endblock body %}