{% extends 'blogui/base.html' %}
{% block style %}
<style>
  
</style>
{% endblock style %}
{% block body %}
<section class="mbr-section form1 cid-qC5dvhapZy mbr-fullscreen mbr-parallax-background" id="form1-i">

    

    <div class="mbr-overlay" style="opacity: 0.1; background-color: rgb(0, 0, 0);">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">Add Category</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5"></h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" data-form-type="formoid">
                    <div data-form-alert="" hidden="">Thanks for filling out the form!</div>
          <script>
              var token = '{{ csrf_token }}';
          </script>  
                    <form class="mbr-form" id="addnewcategory" method="post" data-form-title="Mobirise Form">
                            {% csrf_token %}
                        <div class="row row-sm-offset">
                            <div class="col-md-4 multi-horizontal" data-for="name">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="name-form1-i">Enter Category Name Here</label>
                                    <input type="text" class="form-control" name="title" data-form-field="Name" required="" id="name-form1-i">
                                </div>
                            </div>
                            
                            
                        </div>
                        
            
                        <button type="submit" class="btn btn-primary btn-form display-4" id="addcategorybutton">Add</button>
                    </form>
            </div>
        </div>
    </div>
</section>
{% endblock body %}