@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Open+Sans+Condensed:300|Raleway|Source+Sans+Pro|Yantramanav');

.calendarbox, .clockbox {
  margin: 5px auto;
  font-size: 12px;
  width: 19em;
  text-align: center;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative; }

.calendarbox h2, .calendar caption {
  margin: 0;
  text-align: center;
  border-top: none;
  background: black;
  font-weight: 700;
  font-size: 12px;
  color: white; }

.calendar td a, .timelist a {
  display: block;
  font-weight: 400;
  padding: 6px;
  text-decoration: none;
  color: #444; }

.calendarbox .calendarnav-previous, .calendarbox .calendarnav-next {
  display: block;
  position: absolute;
  top: 8px;
  width: 15px;
  height: 15px;
  text-indent: -9999px;
  padding: 0; }

.container {
  margin-top: 50px; }

.search {
  height: 28px;
  width: 32px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #000000;
  position: relative;
  }

.minilla {
  margin-left: 55px;
  padding-bottom: 0;
  margin-right: 200px; }

.dark {
  background-color: black;
  border-radius: 0;
  color: white;
  height: 5px; }

.white {
  background-color: white;
  color: black;
  text-align: center;
  border-width: 2px;
  border-bottom: 2px;
  border-bottom-color: black;
  border-color: black; }

input[name="head"] {
  font-family: FontAwesome; }

.calendarbox .calendarnav-previous:focus {
  background-position: 0 -15px; }
.calendarbox .calendarnav-previous:hover {
  background-position: 0 -15px; }
.calendarbox .calendarnav-next:focus {
  background-position: 0 -45px; }
.calendarbox .calendarnav-next:hover {
  background-position: 0 -45px; }

.clockbox {
  width: auto; }

.calendar {
  margin: 0;
  padding: 0; }
  .calendar table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    background: white;
    width: 100%; }
  .calendar th {
    padding: 8px 5px;
    background: #f8f8f8;
    border-bottom: 1px solid #ddd;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #666; }
  .calendar td {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    padding: 0;
    border-top: 1px solid #eee;
    border-bottom: none; }
    .calendar td.nonday {
      background: #f8f8f8; }
    .calendar td a:focus {
      background: #79aec8;
      color: white; }
    .calendar td a:hover {
      background: #79aec8;
      color: white; }
    .calendar td a:active {
      background: #417690;
      color: white; }
    .calendar td.selected a {
      background: #79aec8;
      color: white; }
    .calendar td.today a {
      background: #79aec8; }

.calendarnav {
  font-size: 10px;
  text-align: center;
  color: black;
  margin: 0;
  padding: 1px 3px; }
  .calendarnav a:link {
    color: #999; }

.calendar-shortcuts {
  background: white;
  font-size: 11px;
  line-height: 11px;
  border-top: 1px solid #eee;
  padding: 8px 0;
  color: #ccc; }

.calendarnav-previous {
  left: 10px;
  background: url(../img/calendar-icons.svg) 0 0 no-repeat; }

.calendarnav-next {
  right: 10px;
  background: url(../img/calendar-icons.svg) 0 -30px no-repeat; }

.calendar-cancel {
  margin: 0;
  padding: 4px 0;
  font-size: 12px;
  background: #eee;
  border-top: 1px solid #ddd;
  color: #333; }
  .calendar-cancel:focus {
    background: #ddd; }
  .calendar-cancel:hover {
    background: #ddd; }
  .calendar-cancel a {
    color: black;
    display: block; }

#widget-welcome {
  background-color: #939ba0;
  color: black;
  text-align: center;
   }

#widget-categories {
  background-color: #939ba0;
  color: black; }

#widget-authors {
  background-color: #939ba0;
  color: black; }

#widget-tags {
  background-color: #939ba0;
  color: black; }

#widget-recents {
  background-color: #939ba0;
  color: black; }

#widget-comments {
  background-color: #939ba0;
  color: black; }

#widget-linkbacks {
  background-color: #939ba0;
  color: black; }

#widget-randoms {
  background-color: #939ba0;
  color: black; }

#widget-populars {
  background-color: #939ba0;
  color: black; }

#widget-archives {
  background-color: #939ba0;
  color: black; }

#widget-tools {
  background-color: #939ba0;
  color: black; }

.widget {
  margin: 5px 5px 5px 30px; }
  .widget h5 {
    padding: 10px 10px 5px 10px; }
  .widget p {
    padding: 5px 0 5px 30px; }
  .widget li {
    padding: 5px 0 5px 30px; }

.timelist a:focus {
  background: #79aec8;
  color: white; }
.timelist a:hover {
  background: #79aec8;
  color: white; }
.timelist a:active {
  background: #417690;
  color: white; }

#calendarnav a:visited {
  color: #999; }
#calendarnav a:focus {
  color: #999; }
#calendarnav a:hover {
  color: #999; }

@media screen and (max-width: 768px) {
    h1{
        font-size:14px;
    }
}


@media screen and (max-width: 768px) {
    h2{
        font-size:14px;
    }
}

@media screen and (max-width: 768px) {
    h3{
        font-size:14px;
    }
}

@media screen and (max-width: 768px) {
    h4{
        font-size:12px;
    }
}

@media screen and (max-width: 768px) {
    h5{
        font-size:12px;
    }
}

@media screen and (max-width: 768px) {
    h6{
        font-size:12px;
    }
}

@media screen and (max-width: 768px) {
    a{
        font-size:12px;
    }
}





@media screen and (max-width: 768px) {
    li{
        font-size:12px;
    }
}



body,html{
    /* height: 100%; */
    background-color: #f1f1f169;
    font-size: 18px;
    color: #000000;
  }


  /* remove outer padding */
  .main .row{
    padding: 0px;
    margin: 0px;
  }

  /*Remove rounded coners*/

  nav.sidebar.navbar {
    border-radius: 0px;
  }

  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  /* Add gap to nav and right windows.*/
  .main{
    padding: 10px 10px 0 10px;
  }

  /* .....NavBar: Icon only with coloring/layout.....*/

  /*small/medium side display*/
  @media (min-width: 768px) {

    /*Allow main to be next to Nav*/
    .main{
      position: absolute;
      width: calc(100% - 40px); /*keeps 100% minus nav size*/
      margin-left: 40px;
      float: right;
    }

    /*lets nav bar to be showed on mouseover*/
    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    /*Center Brand*/
    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }
    /*Center Brand*/
    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }

    /*Center Icons*/
    nav.sidebar a{
      padding-right: 13px;
    }

    /*adds border top to first nav box */
    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    /*adds border to bottom nav boxes*/
    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
      font-family: 'Raleway', sans-serif;
    }

    /* Colors/style dropdown box*/
    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    /*allows nav box to use 100% width*/
    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    /*colors dropdown box text */
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    /*gives sidebar width/height*/
    nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -160px;
      float: left;
      z-index: 8000;
      margin-bottom: 0px;
    }

    /*give sidebar 100% width;*/
    nav.sidebar li {
      width: 100%;
    }

    /* Move nav to full on mouse over*/
    nav.sidebar:hover{
      margin-left: 0px;
    }
    /*for hiden things when navbar hidden*/
    .forAnimate{
      opacity: 0;
    }
  }

  /* .....NavBar: Fully showing nav bar..... */

  @media (min-width: 1330px) {

    /*Allow main to be next to Nav*/
    .main{
      width: calc(100% - 200px); /*keeps 100% minus nav size*/
      margin-left: 200px;
    }

    /*Show all nav*/
    nav.sidebar{
      margin-left: 0px;
      float: left;
    }
    /*Show hidden items on nav*/
    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }


  #id_name {
    background-color: transparent;
    color: #086800;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #086800 1px;
    padding: 3px 10px;
}
#id_url {
    background-color: transparent;
    color: #086800;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #086800 1px;
    padding: 3px 10px;
}
#id_email {
    background-color: transparent;
    color: #086800;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #086800 1px;
    padding: 3px 10px;
}
#id_comment {
    background-color: transparent;
    color: #086800;
    outline: none;
    outline-style: none;
    border-top: solid #086800 1px;
    border-left: none;
    border-right: none;
    border-bottom: solid #086800 1px;
    padding: 3px 10px;
}





#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#3498db;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#e74c3c;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

.entry-info {
  font-size: 12.9px;
  color: grey;
  text-align: left;
  font-family: 'Raleway', sans-serif;
}

.entry-title {
  text-align: center;
}


.entry-title a {
  font-size: 45px;
  font-family: 'Raleway', sans-serif;
  color : black;
  font-stretch: expanded;
}


.entry-footer {
  font-size: 12.9px;
}

.entry-tags {

}


@media screen and (max-width: 768px) {
    .entry-title a{
        font-size:40px;
    }
}


/*

    font-family: 'Open Sans', sans-serif;

    font-family: 'Source Sans Pro', sans-serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Raleway', sans-serif;

    font-family: 'Open Sans Condensed', sans-serif;

    font-family: 'Yantramanav', sans-serif;

*/

.mpanel > .mpanel-heading {
  /* background-image: none; */
  font-family: 'Raleway', sans-serif;
}

.mpanel > .mpanel-body {
  font-family: 'Raleway', 'mono-space';
  color:#000000c7;
}

.entry-last-update{
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
}

.entry-last-update time{
  font-family: 'Open Sans Condensed', sans-serif;
}


#entri-styles {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #251f1fd6;
}
#entri-styles h5{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #0c0a0ae0;
  /* box-shadow: inset 1px 1px 2px 1px rgba(37, 49, 44, 0.2); */2) */
}
#footer {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
}

h4,h5,h6 {
  font-family: 'Source Sans Pro', sans-serif;
}


h1,h2,h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

p,a{
 font-family: 'Raleway', sans-serif;
}


.continue-reading {
  font-family: 'Source Sans Pro', sans-serif;
  color: red;
}


.entry-content > p {
font-family: 'Raleway', sans-serif;
}


.boo_bu {
	-moz-box-shadow:inset 3px 1px 5px 2px #ffffff;
	/* -webkit-box-shadow: 5px 0px 8px 3px #33303030; */
	/* box-shadow: inset 3px 3px 6px 3px #ced1d08f; */
	/* background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #edeaed)); */
	background:-moz-linear-gradient(top, #f9f9f9 5%, #edeaed 100%);
	/* background:-webkit-linear-gradient(top, #f9f9f9 5%, #edeaed 100%); */
	background:-o-linear-gradient(top, #f9f9f9 5%, #edeaed 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #edeaed 100%);
	/* background: linear-gradient(to bottom, #e0dede 5%, #2f2b2f47 100%); */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#edeaed',GradientType=0);
	background-color: #080915de;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius: 3px;
	border: 1px solid #3F51B5;
	display:inline-block;
	cursor:pointer;
	color: #e6dededb;
	font-family:Arial;
	font-size:17px;
	padding: 35px 2px;
	text-decoration:none;
	/* text-shadow:0px 1px 1px #ffffff; */
	width: 196px;
	height: 104px;
	text-align: center;
}
.boo_bu:hover {
	/* background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #edeaed), color-stop(1, #f9f9f9)); */
	background:-moz-linear-gradient(top, #edeaed 5%, #f9f9f9 100%);
	/* background:-webkit-linear-gradient(top, #edeaed 5%, #f9f9f9 100%); */
	background:-o-linear-gradient(top, #edeaed 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #edeaed 5%, #f9f9f9 100%);
	/* background: linear-gradient(to bottom, #edeaed 5%, #a29b9b94 100%); */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#edeaed', endColorstr='#f9f9f9',GradientType=0);
	background-color: #303141;
}
.boo_bu:active {
	position:relative;
	top:1px;
	-moz-box-shadow: inset 3px 1px 5px 2px #ffffff;
	-webkit-box-shadow: 5px 0px 8px 3px #33303030;
	box-shadow: 5px 0px 8px 3px #33303030;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #edeaed));
	background: -moz-linear-gradient(top, #f9f9f9 5%, #edeaed 100%);
	background: -webkit-linear-gradient(top, #f9f9f9 5%, #edeaed 100%);
	background: -o-linear-gradient(top, #f9f9f9 5%, #edeaed 100%);
	background: -ms-linear-gradient(top, #f9f9f9 5%, #edeaed 100%);
	background: linear-gradient(to bottom, #e0dede 5%, #2f2b2f47 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#edeaed',GradientType=0);
	background-color: #f9ecec;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #dcdcdcc7;
	display: inline-block;
	cursor: pointer;
	color: #383030;
	font-family: Arial;
	font-size: 17px;
	/*padding: 17px 33px;*/
	text-decoration: none;
	text-shadow: 0px 1px 1px #ffffff;
}
.boo_bu:focus {
	border-color: #376a96;
	outline-color: #757b80;
}

.boo_bu > p > a {
  color: white;
}
.info {
    width: 300px;
    height: 110px;
    background-color: #675c5ca8;
    position: fixed;
    text-align: justify;
    border-radius: 1.3%;
    /* Safari 4.0 - 8.0 */
    margin-left: 300px;
    border-left-width: 100px;
    margin-top: 10%;
    -webkit-animation-name: example;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    /* Standard syntax */
    animation-name: fade;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: 10px 10px 20px rgba(50,10,50,0.3);
}
.info:hover {
    animation: none;
}
/* Safari 4.0 - 8.0 */

@-webkit-keyframes fade {
  100% {
    background-color: #c1333344;
  }
}

@keyframes fade {
  100% {
    background-color: #c1333344;
  }
}
@-webkit-keyframes example {
    0%   {
      background-color:#609260a8; 
      -webkit-transform: rotate(2deg);
      transform: rotate(2deg);
  }
    50%  {background-color:#6c4ea2ba;
      -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
    }
    /*50%  {background-color:#b51b1bbf; left:900px; top:470px;}*/
    /*75%  {background-color:#bf65ac96; left:0px; top:470px;}*/
    100% {background-color:#4f1a8096;
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
}

/* Standard syntax */
@keyframes example {
    0%   {
      background-color:#609260a8; 
      -webkit-transform: rotate(7deg);
      transform: rotate(6deg);
  }
    50%  {background-color:#6c4ea2ba;
      -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
    }
    /*50%  {background-color:#b51b1bbf; left:900px; top:470px;}*/
    /*75%  {background-color:#bf65ac96; left:0px; top:470px;}*/
    100% {background-color:#4f1a8096;
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
}

.ha-spin {
  -webkit-animation: ha-spin 2s 1 cubic-bezier(0.18, 0.89, 0.32, 1.28);
  animation: ha-spin 2s 1 cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.ha-spin:hover{
  animation: none;
}
@-webkit-keyframes ha-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes ha-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}






.mpanel {
  margin-bottom: 20px;
  background-color: #dae1e41f;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(7, 10, 14, 0.69);
  box-shadow: 1px 1px 4px 0px rgba(39, 39, 39, 0.32);
}
.mpanel-body {
  padding: 15px;
}
.mpanel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  /* border-top-left-radius: 3px; */
  /* border-top-right-radius: 3px; */
}
.mpanel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.mpanel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  color: inherit;
}
.mpanel-title > a,
.mpanel-title > small,
.mpanel-title > .small,
.mpanel-title > small > a,
.mpanel-title > .small > a {
  color: inherit;
}
.mpanel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.mpanel > .list-group,
.mpanel > .mpanel-collapse > .list-group {
  margin-bottom: 0;
}
.mpanel > .list-group .list-group-item,
.mpanel > .mpanel-collapse > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
.mpanel > .list-group:first-child .list-group-item:first-child,
.mpanel > .mpanel-collapse > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.mpanel > .list-group:last-child .list-group-item:last-child,
.mpanel > .mpanel-collapse > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.mpanel > .mpanel-heading + .mpanel-collapse > .list-group .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.mpanel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.list-group + .mpanel-footer {
  border-top-width: 0;
}
.mpanel > .table,
.mpanel > .table-responsive > .table,
.mpanel > .mpanel-collapse > .table {
  margin-bottom: 0;
}
.mpanel > .table caption,
.mpanel > .table-responsive > .table caption,
.mpanel > .mpanel-collapse > .table caption {
  padding-right: 15px;
  padding-left: 15px;
}
.mpanel > .table:first-child,
.mpanel > .table-responsive:first-child > .table:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.mpanel > .table:first-child > thead:first-child > tr:first-child,
.mpanel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child,
.mpanel > .table:first-child > tbody:first-child > tr:first-child,
.mpanel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.mpanel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.mpanel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.mpanel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.mpanel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.mpanel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.mpanel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.mpanel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.mpanel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 3px;
}
.mpanel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.mpanel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.mpanel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.mpanel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.mpanel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.mpanel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.mpanel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.mpanel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 3px;
}
.mpanel > .table:last-child,
.mpanel > .table-responsive:last-child > .table:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.mpanel > .table:last-child > tbody:last-child > tr:last-child,
.mpanel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child,
.mpanel > .table:last-child > tfoot:last-child > tr:last-child,
.mpanel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.mpanel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.mpanel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.mpanel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.mpanel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.mpanel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.mpanel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.mpanel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.mpanel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 3px;
}
.mpanel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.mpanel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.mpanel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.mpanel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.mpanel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.mpanel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.mpanel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.mpanel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 3px;
}
.mpanel > .mpanel-body + .table,
.mpanel > .mpanel-body + .table-responsive,
.mpanel > .table + .mpanel-body,
.mpanel > .table-responsive + .mpanel-body {
  border-top: 1px solid #ddd;
}
.mpanel > .table > tbody:first-child > tr:first-child th,
.mpanel > .table > tbody:first-child > tr:first-child td {
  border-top: 0;
}
.mpanel > .table-bordered,
.mpanel > .table-responsive > .table-bordered {
  border: 0;
}
.mpanel > .table-bordered > thead > tr > th:first-child,
.mpanel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.mpanel > .table-bordered > tbody > tr > th:first-child,
.mpanel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.mpanel > .table-bordered > tfoot > tr > th:first-child,
.mpanel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.mpanel > .table-bordered > thead > tr > td:first-child,
.mpanel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.mpanel > .table-bordered > tbody > tr > td:first-child,
.mpanel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.mpanel > .table-bordered > tfoot > tr > td:first-child,
.mpanel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.mpanel > .table-bordered > thead > tr > th:last-child,
.mpanel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.mpanel > .table-bordered > tbody > tr > th:last-child,
.mpanel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.mpanel > .table-bordered > tfoot > tr > th:last-child,
.mpanel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.mpanel > .table-bordered > thead > tr > td:last-child,
.mpanel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.mpanel > .table-bordered > tbody > tr > td:last-child,
.mpanel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.mpanel > .table-bordered > tfoot > tr > td:last-child,
.mpanel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.mpanel > .table-bordered > thead > tr:first-child > td,
.mpanel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.mpanel > .table-bordered > tbody > tr:first-child > td,
.mpanel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.mpanel > .table-bordered > thead > tr:first-child > th,
.mpanel > .table-responsive > .table-bordered > thead > tr:first-child > th,
.mpanel > .table-bordered > tbody > tr:first-child > th,
.mpanel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
  border-bottom: 0;
}
.mpanel > .table-bordered > tbody > tr:last-child > td,
.mpanel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.mpanel > .table-bordered > tfoot > tr:last-child > td,
.mpanel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.mpanel > .table-bordered > tbody > tr:last-child > th,
.mpanel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.mpanel > .table-bordered > tfoot > tr:last-child > th,
.mpanel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
  border-bottom: 0;
}
.mpanel > .table-responsive {
  margin-bottom: 0;
  border: 0;
}
.mpanel-group {
  margin-bottom: 20px;
}
.mpanel-group .mpanel {
  margin-bottom: 0;
  border-radius: 4px;
}
.mpanel-group .mpanel + .mpanel {
  margin-top: 5px;
}
.mpanel-group .mpanel-heading {
  border-bottom: 0;
}
.mpanel-group .mpanel-heading + .mpanel-collapse > .mpanel-body,
.mpanel-group .mpanel-heading + .mpanel-collapse > .list-group {
  border-top: 1px solid #ddd;
}
.mpanel-group .mpanel-footer {
  border-top: 0;
}
.mpanel-group .mpanel-footer + .mpanel-collapse .mpanel-body {
  border-bottom: 1px solid #ddd;
}
.mpanel-default {
  border-color: #2d5f5a14;
}
.mpanel-default > .mpanel-heading {
    color: #383e40cc;
    background-color: #d2d4d496;
    border-color: #2d5f5a14;
}
.mpanel-default > .mpanel-heading > .a{
    color: #eadedeb5;
}
.mpanel-default > .mpanel-heading + .mpanel-collapse > .mpanel-body {
  border-top-color: #ddd;
}
.mpanel-default > .mpanel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.mpanel-default > .mpanel-footer + .mpanel-collapse > .mpanel-body {
  border-bottom-color: #ddd;
}
.mpanel-primary {
  border-color: #337ab7;
}
.mpanel-primary > .mpanel-heading {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
.mpanel-primary > .mpanel-heading + .mpanel-collapse > .mpanel-body {
  border-top-color: #337ab7;
}
.mpanel-primary > .mpanel-heading .badge {
  color: #337ab7;
  background-color: #fff;
}
.mpanel-primary > .mpanel-footer + .mpanel-collapse > .mpanel-body {
  border-bottom-color: #337ab7;
}
.mpanel-success {
  border-color: #d6e9c6;
}
.mpanel-success > .mpanel-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.mpanel-success > .mpanel-heading + .mpanel-collapse > .mpanel-body {
  border-top-color: #d6e9c6;
}
.mpanel-success > .mpanel-heading .badge {
  color: #dff0d8;
  background-color: #3c763d;
}
.mpanel-success > .mpanel-footer + .mpanel-collapse > .mpanel-body {
  border-bottom-color: #d6e9c6;
}
.mpanel-info {
  border-color: #bce8f1;
}
.mpanel-info > .mpanel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.mpanel-info > .mpanel-heading + .mpanel-collapse > .mpanel-body {
  border-top-color: #bce8f1;
}
.mpanel-info > .mpanel-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}
.mpanel-info > .mpanel-footer + .mpanel-collapse > .mpanel-body {
  border-bottom-color: #bce8f1;
}
.mpanel-warning {
  border-color: #faebcc;
}
.mpanel-warning > .mpanel-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.mpanel-warning > .mpanel-heading + .mpanel-collapse > .mpanel-body {
  border-top-color: #faebcc;
}
.mpanel-warning > .mpanel-heading .badge {
  color: #fcf8e3;
  background-color: #8a6d3b;
}
.mpanel-warning > .mpanel-footer + .mpanel-collapse > .mpanel-body {
  border-bottom-color: #faebcc;
}
.mpanel-danger {
  border-color: #ebccd1;
}
.mpanel-danger > .mpanel-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.mpanel-danger > .mpanel-heading + .mpanel-collapse > .mpanel-body {
  border-top-color: #ebccd1;
}
.mpanel-danger > .mpanel-heading .badge {
  color: #f2dede;
  background-color: #a94442;
}
.mpanel-danger > .mpanel-footer + .mpanel-collapse > .mpanel-body {
  border-bottom-color: #ebccd1;
}

#mydiv {
    position: absolute;
}

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

.arc {
  margin-left: 100px;
  margin-top: 20px;
}

a.arc {}

#tooltip {
background: black;
border: 1px solid green;
color: white;
padding: 3px 5px;
}
.feeds .sitemap{
margin-right: 100px;
}
.container{
margin-left: 1em;
}
.navbar-right {
margin-right: 100px;
}
.ders {
background-color: white;
}
#ss {
margin-left: 1em;
}
a {color: #232d25e0;outline:none;font-family: Verdana, Geneva, sans-serif;}
a:hover {
color: #000d59;
text-decoration: none;
}

.hentry {background-color: #e9ecec59;padding:2em;-webkit-box-shadow: 1px 2px 7px 2px rgba(114, 117, 116, 0.56);box-shadow: 1px 2px 7px 2px rgba(114, 117, 116, 0.56);}

.remotebutt {
  height: 22px;
  font-size: 12px;
  background-color: #f9fffac7;
  border: 1px solid #29611e;
  background: transparent url({% static '/change/theme/img/tags.png' %}) no-repeat scroll;
  width: auto;
}
.entry-summary {
	max-width:100%;
}
.entry-summary > p {

font-family: 'Raleway', sans-serif;
}
.entry-summary > p::first-letter {
padding-left: 1.8em;
font-size: 200%;
}

.entry-content > p {
font-family: 'Raleway', sans-serif;
}
#id_name {
background-color: transparent;
color: #086800;
outline: none;
outline-style: none;
border-top: none;
border-left: none;
border-right: none;
border-bottom: solid #086800 1px;
padding: 3px 10px;
width: 400px;
}
#id_url {
background-color: transparent;
color: #086800;
outline: none;
outline-style: none;
border-top: none;
border-left: none;
border-right: none;
border-bottom: solid #086800 1px;
padding: 3px 10px;
width: 400px;
}
#id_email {
background-color: transparent;
color: #086800;
outline: none;
outline-style: none;
border-top: none;
border-left: none;
border-right: none;
border-bottom: solid #086800 1px;
padding: 3px 10px;
width: 400px;

}
#id_comment {
background-color: transparent;
color: #086800;
outline: none;
outline-style: none;
border-top: solid #086800 1px;
border-left: solid #086800 1px;
border-right: solid #086800 1px;
border-bottom: solid #086800 1px;
padding: 3px 10px;
width: 400px;
}
.darker {
background-color: blue;
}





#co > a{color: #050605f5;font-family: 'Raleway', sans-serif;}

#ba a{
color:black;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
background-image: none;
background-color: #0f56c6;
}

#entri-styles2 {position: absolute;background-color: #020101ed;color: #efe8e8c7;left: 0px;right: 0px;width: 100%;height: auto;}

#entri-styles2  h5  {
  font-family: Relaway;
  font-size: 30px;
  color :white;
}
#entri-styles2 a {
  font-size: 16px;
  color: white;
}


.button-lookout {
  background-color: rgba(1,1,1,1);
}
