<!DOCTYPE html>
{% load static %}
{% load zinnia %}

<html lang="en">
<head>
	<title></title>
<meta charset="utf-8" >
<link rel="stylesheet" href="{% static 'bootstrap-4.0.0-beta.2-dist/css/bootstrap.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'toopay-bootstrap-markdown-878f349/css/bootstrap-markdown.min.css'%}">


<link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.css' %}">
</head>
<body>
{% block body %}
{% endblock body %}
</body>

<script src="{% static 'bootstrap-4.0.0-beta.2-dist/js/jquery-3.2.1.slim.min.js' %}"></script>
<script src="{% static 'slim/slim.min.js'%}"></script>
<script src="{% static 'slim/tether.min.js'%}"></script>

<script src="{% static 'bootstrap-4.0.0-beta.2-dist/js/popper.js' %}"></script>
<script src="{% static 'bootstrap-4.0.0-beta.2-dist/js/bootstrap.min.js' %}"></script>


<script src="{% static 'toopay-bootstrap-markdown-878f349/js/bootstrap-markdown.js' %}" type="text/javascript"></script>
</html>