{% extends 'userface/base.html' %}

{% block body %}
	<div class="jumbotron">
		<div class="container">
	<h1>Create Article</h1>
	<div>
	<form class="form-group" action="{% url 'poster' %}" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
			{{ form }}
		<input type="submit" name="">
	</form>
	</div>
</div>
</div>
{% endblock body %}

<!-- 
		<div><input type="text" name="titler" placeholder="Title"></div>
		<label class="custom-file">
  				<input type="file" name="filere" class="custom-file-input" enctype="multipart/form-data">
  			<span class="custom-file-control"></span>
		</label>
		<div><textarea name="lead" rows="5" cols="100" data-provide="markdown-editable" data-iconlibrary="fa"></textarea></div>
		<div><textarea name="content" rows="10" cols="100" data-provide="markdown-editable" data-iconlibrary="fa"> </textarea></div>
			<select id="id_status" name="status" required>
			<option value="0" selected="selected">draft</option>
			<option value="1">hidden</option>
			<option value="2">published</option>
			</select>
		<div><input type="submit" name=""></div> -->